@model IEnumerable<EntGuild.Models.Game>

<style>

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        width: 200px;
        margin: 20px;
        min-height: 200px;
        padding: 10px;
        color: black;
    }

    a   {
        text-decoration: none;
    }

    .card:hover {
        transform: scale(1.2);
        transition: all 0.1s;
    }

    .card-title {
        font-weight: bold;
    }

</style>

@{
    ViewData["Title"] = "Games Page";
}

<h1>Games Hub</h1>

<p>Welcome to Entertainment Hub where all your favourite Books, Movies and Games are located!</p>
