@model IEnumerable<EntGuild.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Edit" asp-controller="Products">Item Management</a> |
<a asp-action="Details" asp-controller="Users">User Management</a> |
